<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CouchDbProxyBaseAddress" value="http://localhost:55464"/>
    <add key="MasterDbName" value="blobstoragemaster-test"/>
    <add key="AttachmentDbName" value="blobstorageattachments-test"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>